@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  height: 100%;
  line-height: 2;
  background-color: #121212; /* Optional: Set a background color */
  scrollbar-width: none;
}

/* Optional: Add a smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Optional: Style for links */
a {
  text-decoration: none;
  color: inherit;
}

/* Optional: Remove list styles */
ul,
ol {
  list-style: none;
}

/* Optional: Add some basic typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
}

p {
  margin-bottom: 1rem;
}

/* Optional: Add a container class for consistent layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
